* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  background-color: aquamarine;
  margin: 0;
  line-height: 10vh;
  text-align: center;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.main {
  height: 70vh;
}

.margin-side {
  margin: 0 15%;
}

.margin-top {
  margin-top: 4%;
}

.space-between {
  justify-content: space-between;
}

.rooms {
  width: 70%;
}

.aside {
  width: 20%;
}

li {
  list-style: none;
}